body {
    background-color: lightgray;
}

.centerChallenge {
    font-size: 20px;
    border: 4px solid blue;
    text-align: center;
    margin: 30px 600px 0px 600px;
}

#startButton, #submit, #viewHighScores{
    color: white;
    background-color: blue;
    font-size: 15px;
    margin-top: 15px;
}


#timerbegins {
    text-align: right;
    margin: 20px 20px 20px;
}

.name-input {
    font-size: 20px;
    border: 4px solid blue;
    text-align: center;
}