body {
    background-color: beige;
}

.centerChallenge {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

#startButton {
 color: white;
 background-color: blue;
 font-size: 15px;

}


